<head>
  <!--=========================Twitter Bootstrap=======================-->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>
<h1>Jackets#edit</h1>
<p>Find me in app/views/jackets/edit.html.erb</p>

<!-- For the edit you can copy what was in the new.html.erb and just change the text heading and button text -->
<h1> Edit a Jacket!</h1>

<%= form_for @jacket do |f| %>
    Type: <%= f.text_field :name %>
    <!-- Rails guide form helper says that you could use number_field ...Itll have up and down arrows and allow you to bring up numbers on mobile -->
    Price: <%= f.text_field :price %>
    Quantity: <%= f.text_field :size %>
    <!-- creates submit button -->
    <%=f.submit "Update this Jacket" %>
    <!-- end the loop started at form_for @beverage do -->
<% end %>

<%= link_to "Back to the Beverages list!", jackets_path %>

</body>