<head>
  <!--=========================Twitter Bootstrap=======================-->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>
<h1>Jackets#show</h1>
<p>Find me in app/views/jackets/show.html.erb</p>

  <%= @jacket.name %>

  <%= @jacket.price %>

  <%= @jacket.size %>


<!-- This is saying that if there is someone logged in then use their info in the following "path that they will take when buying something" -->
<% if current_user != nil %>
<%= link_to 'Add to cart, or buy now?', new_cart_path(user_id: current_user.id, jacket_id: @jacket.id) %>
<% else %>
<%= link_to 'Add to cart, or buy now?', new_cart_path(jacket_id: @jacket.id) %>
<% end %>

</body>